@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


/*
VARIABLES
*/
:root{
    --lazuli-color: #243e92;
    --gold-color: gold;
    --azure-color: azure;
    --background-color: #e1f0ef;
    --h1-hover-color: #243e92;
    --prime-structure-size: 960px;
    --mobile-structure-size: 370px;
    --universal-box-shadow: 0px 0px 3px 1px #00000055;
    --thick-shadow: 0px 0px 6px 2px #00000080;
}



body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--azure-color);
    text-align: justify;
    font-size: medium;

    max-width: var(--prime-structure-size);
    min-width: var(--mobile-structure-size);
    margin: 0 auto;
}



header{
    box-shadow: var(--universal-box-shadow);
}
header > h1{
    font-family: 'Work Sans', sans-serif;
    background-color: var(--lazuli-color);
    color: var(--azure-color);

    margin: 0px;
    padding: 4px 20px;
    position: absolute;
    top: 100px;

}
header > h1:hover{
    color: var(--gold-color);
    transition: 0.5s ease;
}
header > img{
   width: 100%;
   margin-bottom: -4px;
}



nav{
    background-color: var(--lazuli-color);
    box-shadow: var(--universal-box-shadow);
    margin: 15px 0;
    padding: 15px 0;
}
.fa.fa-home{
    font-size: 18px;
}
nav a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: var(--azure-color);
    text-decoration: none;
    padding: 15px;
    margin: 0;
}
nav > a:hover{
    color: var(--h1-hover-color);
    background-color: var(--gold-color);
    box-shadow: var(--universal-box-shadow);
    transition: 0.4s ease;
}
.mobile{
    display: none;
}
.active{
    background-color: #ffffff4d;
}


/*
[GRID] - CONTAINER BOX WITH CHILDREN CONTENTS AND SIDEBAR
*/
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: var(--universal-box-shadow);    
}
.sidebar{
    margin-left: 15px;
}
.sidebar > article > img{
    width: 100%;
}



/*
MAIN STRUCTURE AND VALUES INHERITED BY THEIR CHILDREN SECTIONS, ARTICLES, ETC.
*/
main{
    background-color: var(--background-color);
    margin: 8px auto;    
}
main > section{
    padding: 15px;
}
section > article{
    background-color: var(--azure-color);
    box-shadow: var(--universal-box-shadow);
    margin: 10px auto 20px auto;
    padding: 2px 15px 15px 15px;    
}
article > h1{
    background-color: var(--lazuli-color);
    color: var(--azure-color);
    box-shadow: var(--universal-box-shadow);
    padding: 5px;    
}
article > h1:hover{
    transition: 0.4s ease;
    background-color: var(--gold-color);
    color: var(--h1-hover-color);
    transition: 0.4s ease;
}
article > img:hover{
    box-shadow: var(--universal-box-shadow);
    transition: 0.4s ease;
}
aside{
    padding: 3px;
    margin-top: 8px;
    text-align: end;
    background-color: var(--background-color);
    box-shadow: 1px 1px 2px 1px #0000002f;
}
aside:hover{
    background-color: var(--lazuli-color);
    color: var(--azure-color);
    transition: 0.4s ease;
}



/*IMG POSITION ON ARTICLE*/
.content img{
    float: left;
    margin: 0px 16px 5px 0px;
    box-shadow: var(--universal-box-shadow);
}
article img:hover{
    height: 100%;
    box-shadow: var(--thick-shadow);
    transition: 0.4s ease;
}
article p{
    text-align: justify;
    text-indent: 30px;
    margin-top: 0px;
    margin: 0 8px;
}
article > img{
    width: 250px;
    height: 100%;
}
.sidebar p{
    text-indent: 30px;
    margin: 0 6px;
}




@keyframes fade{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fade{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}





footer{
    margin: 0 0 -16px 0;
    background-color: var(--lazuli-color);
    color: var(--azure-color);
    box-shadow: var(--universal-box-shadow);
}
footer > p{
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    padding: 40px;
}
footer > p:hover{
    color: var(--gold-color);
    transition: 0.4s ease;
}





@media screen and (max-width: 960px){
    .container{
        grid-template-columns: 2fr 1fr;
    }    
}

@media screen and (max-width: 700px){
    .container{
        grid-template-columns: 1fr;
    }
    .content{
        grid: 1;
    }
    .sidebar{
        grid: 2;
    }
}

@media screen and (max-width: 660px){
    header h1{
        font-size: 22px;
        top: 3.5em;
    }
}

@media screen and (max-width: 560px){
    .responsive a{
        display: block;
    }
    .responsive{
        position: relative;
    }
    .responsive .mobile{
        position: absolute;
        top: 0;
        right: 0;
    }

    nav > a {
        display: none;
    }
    nav{
        padding: 0;
    }

    #home{
        display: inline-block;
    }
    .mobile{
        display: block;
        float: right;
        margin: 0;
        font-size: 17px;
    }
    
}

@media screen and (max-width: 510px) {
    header h1{
        top: 1.8em;
    }
    
}

@media screen and (max-width: 470px) {
    article img{
        width: 100%;
    }
    .content p{
        margin-top: 160px;
    }
    
}

@media screen and (max-width: 370px) {
    header h1{
        top: 1em;
    }    
}


table{
    border: 1px solid black;
    margin: 15px auto;
    width: 100%;
}
caption{
    background-color: var(--lazuli-color);
    color: var(--background-color);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 4px;
}
th, td{
    padding: 4px;
    border: 1px solid black;
}
